<div>
  <h1>categoryEventDetails Form</h1>

  <form action="/user" method="POST" >
    <div class="form-group">
      <label for="id" class="form-label">ID</label>
      <input type="text" class="form-control" name="id" id="id" />
    </div>

    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" />
    </div>
  
    <div class="form-group">
        <label for="categoryDescription" class="form-label">Category Description</label>
        <textarea class="form-control" name="categoryDescription" id="categoryDescription" ></textarea>
    </div>

    <div class="form-group">
        <label for="fees" class="form-label">Fees</label>
        <input type="number" class="form-control" name="fees" id="fees" />
    </div>

    <div class="form-group">
        <label for="couponApplicable" class="form-label">Coupon Applicable</label>
        <input type="text" class="form-control" name="couponApplicable" id="couponApplicable" />
    </div>

    <div class="form-group">
      <label for="extra" class="form-label">Extra</label>
      <input type="extra" class="form-control" name="extra" id="extra" />
    </div>

    <div class="form-group">
        <label for="extraMoney" class="form-label">Extra Money</label>
        <input type="number" class="form-control" name="extraMoney" id="extraMoney" />
    </div>

    <div class="form-group">
        <label for="show" class="form-label">Show</label>
        <input type="text" class="form-control" name="show" id="show" />
    </div>

    <div class="form-group">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" name="category" id="category" />
    </div>

    <div class="form-group">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" name="desc" id="desc" ></textarea>
    </div>
    
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
